@import '../../theme/static/theme.less';
@import './SearchBox.less';

@header-height: 64px;
@menu-item-border: 2px;
@mobile-max-width: 767.99px;

#header {
  position: relative;
  z-index: 10;
  max-width: 100%;
  background: @component-background;
  box-shadow: 0 2px 8px rgba(240, 241, 242, 65);
}
